.node-html {
	pre {
		background-color: #282c34;
		border-radius: 4px;
		position: relative;
		.pre-copy {
			position: absolute;
			top: 5px;
			right: 5px;
			color: #8c8c8c;
			font-size: 12px;
			line-height: 1.5;
			cursor: pointer;
			user-select: none;
		}
	}
	pre .hljs {
		padding: 10px;
	}
}
