.node-html {
	li {
		list-style: disc;
	}
	mark {
		color: #48b378;
		line-height: 1;
		padding: 1px 4px;
		border-radius: 4px;
		background-color: #ebebeb;
		font-family: 'Operator Mono', Consolas, Monaco, Menlo, monospace;
	}
	pre {
		background-color: #282c34 !important;
		border-radius: 4px;
		position: relative;
		.hljs {
			padding: 0;
		}
		.pre-copy {
			position: absolute;
			top: 5px;
			right: 5px;
			color: #8c8c8c;
			font-size: 12px;
			line-height: 1.5;
			cursor: pointer;
			user-select: none;
		}
	}
}
