.app-conter {
	padding: 12px;
	background-color: #ffffff;
	:global {
		.app-popover {
			.ant-popover-inner-content {
				padding: 5px;
				border-radius: 8px;
				overflow: hidden;
			}
			.ant-menu {
				border-right: none;
			}
			.ant-menu-item {
				height: 32px;
				line-height: 32px;
				margin: 0;
				padding: 0 10px;
			}
		}
	}
}
