.app-source {
	table {
		border-radius: 0 !important;
		thead {
			th {
				background-color: #ebeef5 !important;
				border: none !important;
				border-radius: 0 !important;
				padding: 14px 8px !important;
			}
		}
		tbody {
			td {
				padding: 6px !important;
			}
			button {
				padding: 0 10px !important;
			}
		}
	}
}
